html,body{
  height: 100%;
  width: 100%;

}
.card{
height: 300px;
 width: 400px;
border:3px solid black;
padding:20pxs;
text-align: center;
border-radius: 5px ;
}
.card button{
  padding:  10px 20px ;
  background-color: aqua;
  border: none;
  border-radius: 5px;
}
  .card p{
    margin: 20px 20 px;
  
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}
.parent{
  display: flex;
  padding: 20 px;
  flex-wrap: inherit;
}